html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: #6666ff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.footerText,
.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;

}

.rules {
    font-size: 24px;
    white-space: pre-wrap;
}

.footerText {
    position: fixed;
    top: 95%;
    left: 0;
    right: 0;
}